file.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="skillstack">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="courses" type="CoursesType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CoursesType">
    <xs:sequence>
      <xs:element name="course" type="CourseType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CourseType">
    <xs:sequence>
      <xs:element name="title"          type="xs:string"/>
      <xs:element name="category"       type="CategoryEnum"/>
      <xs:element name="instructor"     type="xs:string"/>
      <xs:element name="price"          type="PriceType"/>
      <xs:element name="rating"         type="RatingType"/>
      <xs:element name="reviews"        type="xs:nonNegativeInteger"/>
      <xs:element name="duration_hours" type="xs:positiveInteger"/>
      <xs:element name="description"    type="xs:string"/>
    </xs:sequence>
    
    <xs:attribute name="id" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="C[0-9]{3}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="PriceType">
    <xs:simpleContent>
      <xs:extension base="xs:nonNegativeInteger">
        <xs:attribute name="currency" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="RatingType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.0"/>
      <xs:maxInclusive value="5.0"/>
      <xs:fractionDigits value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CategoryEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Programming"/>
      <xs:enumeration value="Web Development"/>
      <xs:enumeration value="AI and ML"/>
      <xs:enumeration value="Data Science"/>
      <xs:enumeration value="Design"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
